<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!--See https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html -->
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
		
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

	<logger name="org.springframework.web" level="INFO" />

	<appender name="ASYNC_FILE"
		class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>500</queueSize> <!-- Default is 256 -->
		<discardingThreshold>0</discardingThreshold>
		
		<appender-ref ref="FILE" /> <!-- Referring to the default FILE appender(which is a rolling file appender) 
			references in the base.xml -->
		<!-- Default file name pattern ${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz -->
		<!-- Default file size 10 MB -->
	</appender>

	<logger name="anoop.h.webflux" level="debug" additivity="false">
		<appender-ref ref="ASYNC_FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
</configuration>